<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading">Loading...</div>
</div>
<div class="card flex justify-content-center">
  <app-toolbar (newSupplier)="showDialogForNewSupplier()" />

<!--  <p-button (click)="showDialogForNewSupplier()" icon="pi pi-external-link"-->
<!--            label="Register Supplier"></p-button>-->
  <p-toast></p-toast>
<div class="card">
  <p-table [value]="suppliers" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Business Name</th>
        <th>Tax Identification</th>
        <th>Address</th>
        <th>Country</th>
        <th>Annual Billing</th>
        <th>Las Edition Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-supplier>
      <tr>
        <td>{{ supplier.businessName }}</td>
        <td>{{ supplier.taxIdentification }}</td>
        <td>{{ supplier.address }}</td>
        <td>{{ supplier.country }}</td>
        <td>{{ supplier.annualBilling }}</td>
        <td>{{ dateFormatted(supplier.lastEditionDate) }}</td>
        <td>
          <p-button (onClick)="showDialogForSeeSupplier(supplier)"
                    icon="pi pi-search" [rounded]="true"
                     severity="success"></p-button>
          <p-button (onClick)="showDialogForUpdateSupplier(supplier)"
                    icon="pi pi-pencil" [rounded]="true"
                    severity="info"></p-button>
          <p-button (onClick)="showDialogForRiskSearcher(supplier)"
                    icon="pi pi-exclamation-triangle" [rounded]="true"
                     severity="warning"></p-button>
          <p-button icon="pi pi-times" (click)="confirm2($event, supplier)"
                    [rounded]="true"
                    severity="danger"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>


    <p-dialog header="Register supplier" [(visible)]="dialogForNewSupplier"
              [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
              [draggable]="false" [resizable]="false" [modal]="true">
      <app-add-supplier (registerSupplierEmitter)="registerNewSupplier($event)"/>
    </p-dialog>

  <p-dialog header="Risk searcher" [(visible)]="dialogForRiskSearcher"
            [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '80vw',
            height: '500px' }"
            (onHide)="onRiskSearchDialogHide()"
            [draggable]="false" [resizable]="false" [modal]="true">

    <app-risk-searcher [supplier]="selectedSupplier!"  />
  </p-dialog>

  <p-dialog header="Supplier" [(visible)]="dialogForSupplier"
            [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '60vw',
            height: '500px' }"
            [draggable]="false" [resizable]="false" [modal]="true">

    <app-supplier [supplier]="selectedSupplier!" [isEditable]="isEditable"
                  (supplierEdited)="editedSupplier()"/>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>

</div>
</div>
