<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <form [formGroup]="form"  (ngSubmit)="doRegisterSupplier()">

    <div class="p-fluid" style="display: grid; gap: 5px">


      <div class="field mb-4">
        <p-dropdown [options]="countries" formControlName="country"
                    optionLabel="name"
                    [showClear]="true" placeholder="Select a Country">
<!--          <ng-template pTemplate="selectedItem">-->
<!--&lt;!&ndash;            <div class="flex align-items-center gap-2" *ngIf="selectedCountry">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px"/>&ndash;&gt;-->
<!--&lt;!&ndash;              <div>{{ selectedCountry.name }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </ng-template>-->
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="field mb-4">
        <input id="businessName" type="text" pInputText
               required class="w-full" placeholder="BusinessName"
               formControlName="businessName"
              >
      </div>

      <div class="field mb-4">
        <input id="tradename" type="tradename" pInputText
                required class="w-full"
               placeholder="Trade Name" formControlName="tradename">
      </div>


      <div class="field mb-4">
        <input id="taxIdentification" type="text" pInputText
                required class="w-full"
               placeholder="Tax Identification" formControlName="taxIdentification">
      </div>

      <div class="field mb-4">
        <input id="phoneNumber" type="text" pInputText
                 class="w-full"
               placeholder="Phone Number" formControlName="phoneNumber">
      </div>

      <div class="field mb-4">
        <input id="email" type="email" pInputText
                required class="w-full"
               placeholder="Email" formControlName="email">
      </div>

      <div class="field mb-4">
        <input id="website" type="text" pInputText
               required class="w-full"
               placeholder="Website" formControlName="website">
      </div>

      <div class="field mb-4">
        <input id="address" type="text" pInputText
                required class="w-full"
               placeholder="Address" formControlName="address">
      </div>


      <div class="field mb-4">
        <p-inputNumber id="annualBilling"  pInputText
                 class="w-full" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"
               placeholder="Annual Billing"
                       formControlName="annualBilling" />
      </div>

      <button pButton pRipple label="Register" icon="pi pi-user" class="w-full"></button>
    </div>
  </form>
</div>
